<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="__PACKAGE__"
	android:versionCode="10000"
	android:versionName="1.0">

	<supports-screens
		android:smallScreens="true"
		android:normalScreens="true"
		android:largeScreens="true"
		android:xlargeScreens="true"/>

	<!-- Always include this permission if your app needs location / Wi-Fi scans access. -->
	<!-- This permission is for "approximate" location data and required for Wi-Fi scans -->
	<uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />

	<!-- Include only if your app benefits from precise location / Wi-Fi scans access. -->
	<!-- This permission is for "precise" location data and required for Wi-Fi scans -->
	<uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />

	<!-- Required only when requesting background location / Wi-Fi scans access on
         Android 10 (API level 29) and higher. -->
	<uses-permission android:name="android.permission.ACCESS_BACKGROUND_LOCATION" />

	<!-- The following two permissions are required if your app wants to receive human activity changes -->
    <uses-permission android:name="com.google.android.gms.permission.ACTIVITY_RECOGNITION"/>
    <uses-permission android:name="android.permission.ACTIVITY_RECOGNITION"/>

	<!-- The following two permissions are required in order to ask and retrieve Wi-Fi scan updates -->
	<uses-permission android:name="android.permission.CHANGE_WIFI_STATE"/>
	<uses-permission android:name="android.permission.ACCESS_WIFI_STATE"/>

	<!-- The following two permissions are required in order to ask and retrieve BLE scan updates -->
	<uses-permission android:name="android.permission.BLUETOOTH_ADMIN"/>
	<uses-permission android:name="android.permission.BLUETOOTH_SCAN"/>

	<uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE"/>
	<uses-permission android:name="android.permission.INTERNET"/>

	<application
		android:name="com.tns.NativeScriptApplication"
		android:allowBackup="true"
		android:icon="@drawable/icon"
		android:label="@string/app_name"
		android:theme="@style/AppTheme">

		<activity
			android:name="com.tns.NativeScriptActivity"
			android:label="@string/title_activity_kimera"
			android:configChanges="keyboard|keyboardHidden|orientation|screenSize|smallestScreenSize|screenLayout|locale|uiMode"
			android:theme="@style/LaunchScreenTheme"
			android:exported="true">

			<meta-data android:name="SET_THEME_ON_LAUNCH" android:resource="@style/AppTheme" />

			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name="com.tns.ErrorReportActivity"/>
	</application>
</manifest>
